@import "src/shared/colors";

.navbar {
  &-nav, .nav-link {
    color: white;
    font-size: 1rem;
    padding: 0 2rem;

    &:hover, &:focus {
      color: $primary-color
    }
  }

  &-brand {
    font-family: 'Work Sans', sans-serif;
    font-size: 3.5rem;
    color: white;
    font-weight: 700;
    letter-spacing: 0.02rem;

    &:hover, &:focus {
      color: $primary-color
    }
  }


}
