<div class="container-fluid">
  <button class="btn btn-primary">Aaa</button>
  <button class="btn btn-default">Aaa</button>
  <div class="row">
    <div class="col-6" style="border: 1px solid green">AAAAAA</div>
    <div class="col-6" style="border: 1px solid yellow">BBBBB</div>
  </div>
    <div class="header">
      <div class="lidlomiks-text">
        <span>Lidlo</span>
        <span>miks</span>
      </div>
      <div class="header-right">
        <span>Aplikacja</span>
        <span>Przepisy</span>
        <span>Zaloguj się</span>
      </div>
    </div>
</div>
