<article>
  <div class="container-fluid py-5">
    <div class="col-10 offset-1">
      <span class="badge badge-ldx bg-ldx-success">Kategorie</span>
      <h2 class="header-main-ldx">Najlepsze kategorie</h2>
      <div class="row">
        <div class="best-category-card col-12 col-sm-6 col-md-4 col-xl-3">
          <div class="white-circle">
            <i class="fa-solid fa-pizza-slice"></i>
          </div>
          <span>Przekąski</span>
        </div>
      </div>
    </div>
  </div>
</article>
