<article>
  <div class="container-fluid py-5">
    <div class="col-10 offset-1">
      <div class="row">
        <div class="col-sm-12 col-md-7 d-flex flex-column justify-content-between">
          <div class="row">
            <h2 class="home-secondary-text">Najlepsze przepisy</h2>
            <h1 class="home-primary-text">Dołącz do społeczności Lidlomiksa</h1>
          </div>
          <div class="row py-3">
            <div class="col-12">
              <app-icon-circle-button class="pe-2" (click)="gotToLink('www.facebook.pl')">
                <i class="fa-brands fa-facebook-f"></i>
              </app-icon-circle-button>
              <app-icon-circle-button class="pe-2" (click)="gotToLink('www.twitter.pl')">
                <i class="fa-brands fa-twitter"></i>
              </app-icon-circle-button>
              <app-icon-circle-button (click)="gotToLink('www.instagram.pl')">
                <i class="fa-brands fa-instagram"></i>
              </app-icon-circle-button>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-5 align-self-center">
          <img src="assets/Food_top.png" alt="Jedzenie" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</article>
